@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* .rst__rowContents{
  box-shadow: none!important;
  border:none !important;
}

.rst__row{
  padding:8px;
}

.rst__moveHandle
 {
	background-image : none !important;
	padding-top : 6px !important;
	text-align: center !important;
  background:transparent !important;
  border:none !important;
  box-shadow:none !important;
}

.icon-a> .rst__moveHandle::before {
	  font-family: 'Material Icons' ;
    display: flex ;
    justify-content: center ;
    align-items: center ;
    height: 12px ;
    content: "\e945" ;
    color: #757575 !important;
}

.rst__rowTitle{
  font-family: Roboto !important;
  font-size: 15px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 24px !important;
  letter-spacing: 0.15000000596046448px !important;
  text-align: left !important;
  color: rgba(33, 33, 33, 1);

} */

.itemName{
font-family: Roboto;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.15000000596046448px;
text-align: left;
/* width:480px !important; */
width:100%;
}

.MuiNodeContent-row{
  background: rgba(0, 0, 0, 0.04) !important;
  width:480px !important;
}


.inputStyle::placeholder{
  font-family: Roboto;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.15000000596046448px;
text-align: left;
color: rgba(158, 158, 158, 1);
}

input[type="text"]
{
  font-family: Roboto;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.15000000596046448px;
text-align: left;
  font-size:15px;
}

.proba{
  position:absolute;
  top:30px;
  right:0px;
  left:0px;
  display:inline-block;
  width:420px !important;
}

.MuiNodeContent-row{
  padding:5px 0px !important;
  /* overflow:hidden !important; */
}


.MuiNodeContent-contentNode:focus{
  background-color:none !important;
  background: none;
  border:none !important;
  opacity:0 !important;
}


.hide{
  visibility:hidden;
}

.MuiNodeContent-row:hover .hide {
 visibility: visible;
}